@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;

}

.containerproje{
    position: relative;
}

.containerproje .slide-container .slide{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 5px;
}

.containerproje .slide-container .slide .contentproje{
    flex: 1 1 350px;
    animation: slideContent .4s linear .4s backwards;
    
}

@keyframes slideContent{0%
{
    opacity: 0;
    transform: translateX(-50px);
}
}


.containerproje .slide-container .slide .contentproje h3{
    font-size: 35px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    
}

.containerproje .slide-container .slide .contentproje p{
    font-size: 16px;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    width: 40%;
    height: 10%;

}

.containerproje .slide-container .slide .contentproje .bntproj{
    margin-top: 10px;
    display: inline-block;
    background: #000000;
    color: #04ff00;
    font-size: 17px;
    padding: 9px 40px;
    border-radius: 5px;
    border: 2px solid #00ff40;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
}

.containerproje .slide-container .slide .contentproje .bntproj:hover{
    background: #ffffff;
    border: 2px solid #1aff00;
    color: #00fc19;
}

.containerproje .slide-container{
    display: none;
}

.containerproje .slide-container.active{
    display: block;
}

.containerproje .slide-container:nth-child(1) .slide{
    background: url(./img/Sem\ Título-3.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: 81.1vw;
    height: 100vh;
    
   
}

.containerproje .slide-container:nth-child(2) .slide{
    background: url(./img/Opera\ Instantâneo_2023-01-26_061145_127.0.0.1.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: 81.1vw;
    height: 100vh;
 
}

.containerproje .slide-container:nth-child(3) .slide{
    background: url(./img/Opera\ Instantâneo_2023-01-25_160440_127.0.0.1.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: 81.1vw;
    height: 100vh;
    
}

.containerproje .slide-container:nth-child(4) .slide{
    background: url(./img/Opera\ Instantâneo_2023-01-26_061355_127.0.0.1.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: 81.1vw;
    height: 100vh;
    
}

.containerproje .slide-container:nth-child(5) .slide{
    background: url(./img/Opera\ Instantâneo_2023-01-26_061509_127.0.0.1.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: 81.1vw;
    height: 100vh;
    padding-top: 0;
    
}


.containerproje #prev, 
.containerproje #next {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color: #11ff00;
    background: #000000;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
}

.containerproje #prev:hover, 
.containerproje #next:hover{
    background: #ffffff;
}
.containerproje #prev{
    left: 12px;
}

.containerproje #next{
    right: 12px;
}


.gallery-img2 img{
    width: 50%;
    max-width: 36rem;
    max-height: 36rem;
    transform: translate(230%, 100%);
    display: flex;
    border-radius: 20px;
    margin-top: -42vw;
    margin-bottom: 1vw;
    }
    

@media(max-width: 800px){
  .containerproje .slide-container:nth-child(1) .slide{
    width: 82vw;
   
  }
  .containerproje .slide-container:nth-child(2) .slide{
    width: 82vw;
  }
  .containerproje .slide-container:nth-child(3) .slide{
    width: 82vw;
    
  }
  iframe{
    width: 79.2vw;
  }
    .containerproje #prev{
        left: 0px;
        top: 60%;
    }

    .containerproje #next{
        right:0px;
        top: 60%;
    }


    .containerproje .slide-container .slide .contentproje p{
        font-size: 16px;
        color: #ffffff;
        font-family: 'Noto Sans', sans-serif;
        padding-left: 10PX;
        width: 70%;
        height: 10%;
    
    }
    .gallery-img2 img{
        width: 100%;
    }
    .gallery-img2 img{
        width: 100%;
        }
        .gallery-img {
          width: 100%;
          max-width: 100%;
          max-height: 100%; 
        }
    
    
}

